
<form action="/articles/<%= @article.id %>/delete" method="post">
  <h1> <%= @recipe.name %> </h1>
  <h1> <%= @recipe.ingredients %>  </h1>
  <h1> <%= @recipe.cook_time %> </h1>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<form class="" action="/articles/<%= @recipe.id %>" method="post">
  <h1> <%= @recipe.name %> </h1>
  <h1> <%= @recipe.ingredients %>  </h1>
  <h1> <%= @recipe.cook_time %> </h1>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="name">
  <input type="text" name="ingredients" value="ingredients">
  <input type="text" name="cook_time" value="cook_time">
</form>
